@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

*{
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    display: flex;
    color: #30475E;
    background-color: transparent;
    padding: 0px 25px;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}
.navicon{
    width: 130px;
    margin-top: 9px;
}
nav ul{
    display: flex;
}
ul a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
    line-height: 35px;
}
ul a:hover{
    background: #18255527
}
nav ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 20px;
    font-weight: 500;
    color: #ffffff
}
header{
    position: relative;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7474bf, #348ac7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7474bf, #348ac7);
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    padding-top: 50px;
    height: 800px;
    gap: 30px;
}
header img{
    object-fit: cover;
    width: 50%;
    margin-right: 20px
}
header h1{
    color: #f5f5f5;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 40px;    
}    
header p{
    color: #f5f5f5;
    font-size: 1.3em;
    width: 100%;
}
.top-right{
    margin-top: 150px;
}
.top-right > div > p{
    line-height: 1.8;
    text-align: justify;
}
.datebutton{
    background: #30475E;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 0px #37226143;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 25px;
}
.datebutton label{
    color: white;
}
.btnsubmit{
    background: #7b5cbb;
    padding: 11px 30px;
    border-radius: 8px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.startBtn{
    display: block;
    width: 175px;
    margin-top: 50px;
    padding: 15px 30px;
    background: #31315e;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 0 #26263f72;
    transition: all 0.3s;
}
.startBtn:hover{
    background: #413b85;
}
.sectionbox{
    justify-content: space-around;
    gap: 1em;
    width: 100%;
    padding: 50px 15%;
    text-align: center;
}
.sectionbox img{
    width: 100px;
}
.sectionbox h1{
    color: #30475E;
    margin-top: 50px;
    text-align: center;
    font-size: 2.7em;
    margin-bottom: 50px;
    font-weight: 400;
}
.content1 p{
    font-size: 1.1em;
    margin-top: 10px;
    width: 250px;
    line-height: 1.5;
}
.full{
    background: white;
    padding: 3% 10%;
}
.con2{
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 50px;
}
.con2 img{
    width: 40%;
}
.con2-caption{
    
    width: 55%;
    text-align: left;
}
.con2-caption h1{
    font-size: 2em;
    text-align: left;
    color: #2b2b2b;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.22);
    font-weight: 400;
    margin-top: 40px;
}
.con2-caption p{
    color: #5f5f5f;
    font-size: 1.15em;
    line-height: 1.8;
    text-align: justify;
}

.loginBox{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    z-index: 100;
    background:rgba(17, 17, 17, 0.693);
    transition: ease-in 1s;
}
.loginForm{
    background: rgb(255, 255, 255);
    margin: 8% 20%;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 30px;
    border: 5px solid white;
}

.loginIllus img{
    width: 360px;
    height: 80%;
    object-fit: cover;
}
.inputArea input{
    display: block;
    margin: 15px 0px;
    padding: 12px 15px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(22, 32, 75, 0.131);
    padding-left: 40px;
}
.inputArea input:focus{
    outline: none;
    border: 1px solid rgba(3, 42, 97, 0.871);
}
.inputArea h1{
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 10px;
    color: #30475E;
    margin-top: 10px;
}
.loginsubmit{
    background: #413b85;
    color: white;
    cursor: pointer;
    padding-left: 15px !important;
}
.cancel{
    background: transparent;
    border: none !important;
    outline: none;
    padding: 0 !important;
}
.cancel:hover, .cancel:focus{
    box-shadow: none !important;
    text-decoration: underline !important;
}
.loginsubmit:hover, .loginsubmit:focus{
    box-shadow: 0 0px 15px 0 #413b85bf;
}
.loginIllus{
    border-radius: 17px;
}
.usericon{
    position: absolute;
    margin-top: 11px;
    margin-left: 12px;
}
.pw{
    margin-top: 11px;
    margin-left: 12px;
}

#dataSummary{
    display: block;
    margin-left: 215px;
    margin-right: 15px;
}
.contProblemNav{
    padding: 20px;
    gap: 15px;
    display: flex;
    color: rgb(58, 58, 58);
}
.searchInput{
    font-size: 1rem;
    padding: 10px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 7px;
    width: 500px;
    margin: 0 15px;
}
.searchInput:focus{
    outline: none;
}
.searchbtn{
    display: inline-block;
    background: #fafafa;
    padding: 11px;
    color: #30475e;
    border-radius: 7px; 
    border: 1px solid rgb(223, 223, 223);
}
.searchbtn:hover{
    box-shadow: 0 5px 10px #d3d3d3a8;
}
.filterMenu{
    position: absolute;
    background: #ffffff;
    color: #30475e;
    width: 150px;
    padding-top: 10px;
    display: none;
}
.filterMenu ul li{
    list-style: none;
    border: 1px solid rgb(228, 228, 228);
}
.filterMenu ul li a{
    display: block;
    width: 100%;
    padding: 4px 20px;
}
.filterMenu ul li a:hover{
    background-color: #cacaca6e;
}
/* Upload Page */
.uploadPage{
    background-color: rgb(233, 233, 236) !important;
    height: 400px;
    padding: 30px 80px;
}
.upHeader{
    display: flex;
    padding: 20px 80px;
    width: 100%;
    background: rgb(20, 20, 100);
    border-radius: 20px;
    height: 340px;
    border: 1px solid grey;
    justify-content: space-between;
    gap: 30px;
}

.upHeader figure{
    height: 300px;
}
.upHeader figure img{
    height: 100%;
    width: auto;
}
.upHeader .textHeader{
    flex: 1;
}
.textHeader h1{
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.textHeader p{
    text-align: justify;
    line-height: 1.6;
    font-weight: 300;
}
.listButtons{
    margin-block-start: 20px;
}
.listButtons a{
    display: inline-block;
    padding: 12px 25px;
    background: white;
    border-radius: 6px;
    margin-inline-end: 20px;
    color: rgb(20, 20, 100);
}
.listButtons a:hover{
    box-shadow: 0px 0px 10px 0 rgb(153, 163, 255);
}
.notadinas{
    background: rgb(255, 154, 3);
    border: 1px solid rgb(255, 154, 3);;
}
.singlelines{
    background: rgb(218, 38, 53);
    border: 1px solid rgb(218, 38, 53);
}
.singlelines a{
    color: rgb(218, 38, 53);
}
.bak{
    background: rgb(105, 218, 14);
    border: 1px solid rgb(105, 218, 14);
}
.bak a{
    color: rgb(105, 218, 14);
}

.singlelines .listButtons a:hover{
    box-shadow: 0px 0px 10px 0px rgb(255, 168, 168);
}
.notadinas .listButtons a{
    color:rgb(255, 154, 3);
}
.notadinas .listButtons a:hover{
    box-shadow: 0px 0px 10px 0 rgb(255, 228, 177);
}
.bak a:hover{
    box-shadow: 0 0 10px 0px solid rgb(185, 255, 104);
}
.contentTitle{
    display: flex;
   
    justify-content: space-between;
}
.contentTitle h1{
    font-size: 2.5rem;
    color: rgb(20, 20, 100);
    font-weight: 600;
}
.uploadContent{
    margin: 20px 0;
}
.rightBtn button{
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    background:rgb(20, 20, 100);
    color: white;
    cursor: pointer;
}
#uploadContent article{
    padding: 20px 5%;
}
.uploadContent table{
    margin-block-start: 30px;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}
.uploadContent table tr th{
    border: 1px solid rgb(20, 20, 100);
    font-size: 1.3em;
    font-weight: 400;
    background: rgb(28, 28, 85);
    padding: 14px 0;
    color: white;
}
.uploadContent table tr{
    border: 1px solid rgba(128, 128, 128, 0.301);
}
.uploadContent table tr td{
    font-size: 1em;
    text-align: center;
    padding: 13px;
    color: grey;
}
.uploadContent table tr:nth-child(even){
    background: rgba(148, 148, 255, 0.150);
}
.boxFormUpload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.534);
}
.boxform{
    margin: 10% 30%;
    width: 40%;
    min-width: 500px;
    background: white;
    border-radius: 20px;
    height: 320px;
    padding: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cancelUploadBtn{
    text-align:center;
    margin-block-start: 10px;
    display: block;
}
.boxFormUpload{
    display: none;
}
.boxform h1{
    font-size: 2rem;
    color: rgb(20, 20, 100);
    font-weight: 600;
    padding-block-end: 10px;
    margin-block-end: 15px;
    border-bottom: 5px solid rgb(20, 20, 100);
}
.upSubmit{
    background:rgb(20, 20, 100);
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 6px;
    margin-block-start: 10px;
}